/* movkup ----------------------------------------------*/
.mockup-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  
}

.mockup-container-desktop,
.mockup-container-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

}

.mockup-container img {
    flex: 1 1 25%;
    min-width: 300px;
    max-width: 250px;
    height: auto;
}

.description {
    display: flex;
    flex-direction: column;
}

#about {
    height: 190vh;
}

#about .parallax-slider {
    top: 60%;
}

.parallax-slider img {
    height: 130%;
}